#edit-placement .form-type-checkboxes .form-checkboxes,
#edit-placement .form-type-radios .form-radios {
  padding: 0 10px;
  border: 1px solid #CCC;
}

#openpublish-twitter-preview {
  margin-left: 10px;
  width: auto;
}

#block-openpublish-twitter-openpublish-twitter-block {
  border: 1px solid #AAA;
  border-radius: 10px;
  padding: 20px;
}

#openpublish-twitter-preview h1 {
  font-size: 20px;
  padding-bottom: 10px;
}